.containere {
 width: 100%;
  display: flex;
  justify-content: center;
}

.menu {
  margin-bottom: 20px; 
}

.menu__linke {
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  background-color: var();
  border-bottom: 2px solid var(--Gris);
  color: var(--Menta);
  border-radius: 4px 4px 0 0; 
}

.menu__description {
  overflow: hidden;
  max-height: 0;
  text-align: justify;
  font-family: "Roboto Slab", serif;
  background: var(--Naranja);
  transition: all 0.2s ease-in;
  padding: 0 10px; 
  border-radius: 0 0 4px 4px; 
}

.menu__image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto; 
  border-radius: 4px; 
}

.menu:target .menu__description {
  max-height: 120px;
  padding: 10px;
}
