ul.MigaPan {
    padding: 8px 16px;
    list-style: none;
    background-color: var(--Blanco);
    margin: 0 auto;
}
ul.MigaPan li {display: inline-block;}
ul.MigaPan li+li:before {
    padding: 8px;
    color: var(--Negro);
    content: "/\00a0";
}
ul.MigaPan a:link, ul.MigaPan a:visited {
    text-decoration:none;
    color: var(--Negro);
}

ul.MigaPan li a.active {
    color:var(--Clarito);
    font-weight: bold;
}
ul.MigaPan li a.active:hover {
    color: var(--Clarito);
    font-weight: bold;
}
