.MigaPan {
  padding: 8px 16px;
  list-style: none;
  background-color: var(--Blanco);
  margin: 0 auto;
  width: 500px;
  height: 50px;
}

.MigaPan_item {
  display: inline-block;
}

.MigaPan_link:before {
  padding: 8px;
  color: var(--Negro);
  content: "/\00a0";
}

.MigaPan_link,
.MigaPan_link:visited {
  text-decoration: none;
  color: var(--Negro);
}

.MigaPan_link--active {
  color: var(--Clarito);
  font-weight: bold;
}

.MigaPan_link--active:hover {
  color: var(--Clarito);
  font-weight: bold;
}
