.container {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  box-shadow: 7px 13px 37px var(--Negro);
  padding: 20px;
  background-color: var(--Blanco);
  border-radius: 8px;
}

.breadcrumb {
  padding: 8px 16px;
  list-style: none;
  background-color: var(--Blanco);
  margin: 0;
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
}

.breadcrumb__item {
  display: inline-block;
}

.breadcrumb__link:before {
  padding: 0 8px;
  color: var(--Negro);
  content: "/\00a0";
}

.breadcrumb__link:first-child:before {
  content: "";
}

.breadcrumb__link,
.breadcrumb__link:visited {
  text-decoration: none;
  color: var(--Negro);
}

.breadcrumb__link--active {
  color: var(--Clarito);
  font-weight: bold;
}

.breadcrumb__link--active:hover {
  color: var(--Clarito);
  font-weight: bold;
}
