.pagina {
  display: inline-block;
  margin: 0 auto;
  width: 1500px;
  height: 50px;
}

.pagina_item {
  display: inline-flex;
}

.pagina_link {
  color: var(--Negro);
  float: left;
  padding: 9px 18px;
  text-decoration: none;
}

.pagina_link--active {
  background-color: var(--Clarito);
  color: var(--Blanco);
}

.pagina_link--active:hover {
  background-color: var(--Clarito);
}

.pagina_link:hover:not(.pagination_link--active) {
  background-color: var(--Blanco);
}
