:root {
  --Clarito: #00ffea;
  --Azul: #0b0894;
  --Negro: #000000;
  --Verde: #00ff08;
  --Amarillo: #fffb00;
  --Rojo: #7f0505;
  --Rosado: #ff00d0;
  --Naranja: #ff6f00;
  --Blanco: #fff;
  --Gris: #5c5c5c;
  --Menta: #aefff4;
}
