@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url(componentes/botones.css);
@import url(componentes/variables.css);
@import url(componentes/lista.css);
@import url(componentes/Container.css);
@import url(componentes/Image.css);
@import url(componentes/Pagina.css);
@import url(componentes/Migapan.css);
@import url(componentes/Menu.css);
@import url(componentes/Formulario.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
